APP_ENV=development
APP_PUBLIC_URL=https://www.reku.io
DATABASE_URL=postgres://reku_web:change-this-postgres-password@localhost:5432/reku_web
POSTGRES_DB=reku_web
POSTGRES_USER=reku_web
POSTGRES_PASSWORD=
SESSION_SECRET=
SESSION_SECURE=false
SESSION_TTL_SECONDS=259200
BOOTSTRAP_ADMIN_EMAIL=ferpic@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=
UPLOAD_ROOT=./uploads
UPLOAD_MAX_BYTES=10485760
CSV_UPLOAD_MAX_BYTES=2097152
CONTACT_TO_EMAIL=hola@reku.io
PATIENT_INTAKE_TO_EMAIL=altas-pacientes@reku.io
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=
SES_FROM_EMAIL=Reku <hola@reku.io>
EMAIL_DRY_RUN=true
PORT=3000
