APP_ENV=development
APP_PUBLIC_URL=https://www.reku.io
DATABASE_URL=postgres://reku_web:change-this-postgres-password@localhost:5432/reku_web
POSTGRES_DB=reku_web
POSTGRES_USER=reku_web
POSTGRES_PASSWORD=
SESSION_SECRET=
SESSION_SECURE=false
SESSION_TTL_SECONDS=259200
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
PUBLIC_UPLOAD_ROOT=./uploads
PRIVATE_UPLOAD_ROOT=./private-uploads
UPLOAD_MAX_BYTES=10485760
CSV_UPLOAD_MAX_BYTES=2097152
BOOKING_ACCESS_COOKIE_NAME=reku_booking_access
PATIENT_APPOINTMENT_LINK_TTL_DAYS=365
PATIENT_APPOINTMENT_SESSION_TTL_SECONDS=43200
PATIENT_APPOINTMENT_SESSION_COOKIE_NAME=reku_patient_appointment_session
PATIENT_MEET_EARLY_MINUTES=10
PATIENT_MEET_LATE_MINUTES=15
PROFESSIONAL_LINK_TTL_HOURS=24
PROFESSIONAL_INVITATION_TTL_HOURS=72
PROFESSIONAL_SESSION_TTL_SECONDS=43200
PROFESSIONAL_SESSION_COOKIE_NAME=reku_professional_session
MP_WEBHOOK_MAX_AGE_SECONDS=300
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=https://www.reku.io/api/professional/integrations/google/callback
GOOGLE_INTEGRATION_ENCRYPTION_KEY=
GOOGLE_CALENDAR_TIME_ZONE=America/Argentina/Buenos_Aires
GOOGLE_CALENDAR_REQUIRED=false
REHUB_BASE_URL=https://uxc2aw5mv8.execute-api.eu-west-1.amazonaws.com/dev2
REHUB_CLIENT_ID=
REHUB_PUBLIC_KEY_BASE64=
REHUB_PUBLIC_KEY_PATH=
REHUB_TRIAGE_LANG=es
REHUB_TIMEOUT_MS=10000
CONTACT_TO_EMAIL=hola@reku.io
PATIENT_INTAKE_TO_EMAIL=altas-pacientes@reku.io
EMAIL_PROVIDER=ses
EMAIL_FROM=Reku <hola@reku.io>
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=
SES_FROM_EMAIL=Reku <hola@reku.io>
RESEND_API_KEY=
RESEND_FROM_EMAIL=Reku <hola@reku.io>
EMAIL_DRY_RUN=true
PORT=3000
